@font-face {
  font-family: "iconeditor"; /* Project id 2561303 */
  src: url('/edu/blog/editorIconfont/iconfont.woff2?t=1636342488221') format('woff2'),
       url('/edu/blog/editorIconfont/iconfont.woff?t=1636342488221') format('woff'),
       url('/edu/blog/editorIconfont/iconfont.ttf?t=1636342488221') format('truetype'),
       url('/edu/blog/editorIconfont/iconfont.svg?t=1636342488221#iconeditor') format('svg');
}

.iconeditor {
  font-family: "iconeditor" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editordanxuanweixuanzhong:before {
  content: "\e6d1";
}

.editordanxuanxuanzhong:before {
  content: "\e6d0";
}

.editorbiaotiH6beifen:before {
  content: "\e6c9";
}

.editorbangzhubeifen2:before {
  content: "\e6c8";
}

.editorjubaobeifen:before {
  content: "\e6c6";
}

.editorbiaotiH5beifen:before {
  content: "\e6c5";
}

.editorbiaotiH4beifen:before {
  content: "\e6c4";
}

.editorbiaotiH3beifen:before {
  content: "\e6c3";
}

.editorbiaotiH2beifen:before {
  content: "\e6c2";
}

.editorbiaotiH1beifen:before {
  content: "\e6c1";
}

.editorcharukapianbeifen:before {
  content: "\e6c0";
}

.editortishi2beifen:before {
  content: "\e6bf";
}

.editortishibeifen:before {
  content: "\e6be";
}

.editorgaoliangxianshibeifen:before {
  content: "\e6bd";
}

.editorhangneidaimabeifen:before {
  content: "\e6a9";
}

.editorxiabiaobeifen:before {
  content: "\e6a8";
}

.editorshangbiaobeifen:before {
  content: "\e6a7";
}

.editorfuzhibeifen:before {
  content: "\e6a6";
}

.editordingduiqibeifen:before {
  content: "\e6a5";
}

.editordiduiqibeifen:before {
  content: "\e6a4";
}

.editorchuizhijuzhongbeifen:before {
  content: "\e6a3";
}

.editorwenbenyangshibeifen:before {
  content: "\e69c";
}

.editorzhuangtai:before {
  content: "\e69b";
}

.editorjiazaizhongbeifen:before {
  content: "\e695";
}

.editorshanchutupianbeifen:before {
  content: "\e694";
}

.editortianjiabeifen:before {
  content: "\e693";
}

.editorliuchengtubeifen:before {
  content: "\e674";
}

.editorzitiyansebeifen1:before {
  content: "\e65a";
}

.editortianchongyansebeifen1:before {
  content: "\e65b";
}

.editoryijianfankuibeifen:before {
  content: "\e66f";
}

.editorfanhuibeifen:before {
  content: "\e623";
}

.editorzhongzuobeifen:before {
  content: "\e63d";
}

.editorqingchugeshi:before {
  content: "\e63a";
}

.editorPreview:before {
  content: "\e63b";
}

.editorniantiedaoshangfang_lie:before {
  content: "\e66e";
}

.editorniantiedaoxiafang_lie:before {
  content: "\e66d";
}

.editorchaifendanyuange:before {
  content: "\e66c";
}

.editorzaishangfangcharu:before {
  content: "\e66b";
}

.editorzaixiafangcharu:before {
  content: "\e66a";
}

.editorniantiedaoxiafang_hang:before {
  content: "\e669";
}

.editorniantiedaoshangfang_hang:before {
  content: "\e668";
}

.editora-fuzhiliebeifen3:before {
  content: "\e667";
}

.editora-fuzhihangbeifen2:before {
  content: "\e666";
}

.editorjianqieliebeifen:before {
  content: "\e665";
}

.editorjianqiehangbeifen:before {
  content: "\e664";
}

.editorhangshuxingbeifen:before {
  content: "\e663";
}

.editorshanchuliebeifen:before {
  content: "\e662";
}

.editorshanchuhangbeifen:before {
  content: "\e661";
}

.editorzaiyoucecharubeifen:before {
  content: "\e660";
}

.editorzaizuocecharubeifen:before {
  content: "\e65f";
}

.editorhebingdanyuangebeifen:before {
  content: "\e65e";
}

.editorshanchubiaogebeifen:before {
  content: "\e65d";
}

.editorbiaogeshuxingbeifen:before {
  content: "\e65c";
}

.editora-Dividingline1:before {
  content: "\e654";
}

.editorcheck1:before {
  content: "\e64e";
}

.editora-Linespacing:before {
  content: "\e659";
}

.editorItalic1:before {
  content: "\e647";
}

.editorCode1:before {
  content: "\e658";
}

.editorphoto1:before {
  content: "\e657";
}

.editorAlign1:before {
  content: "\e653";
}

.editorcenter:before {
  content: "\e63f";
}

.editora-Alignleft:before {
  content: "\e656";
}

.editora-Alignright:before {
  content: "\e655";
}

.editorinstall:before {
  content: "\e652";
}

.editorUnlink:before {
  content: "\e651";
}

.editortop:before {
  content: "\e650";
}

.editorExitFullScreen-2:before {
  content: "\e64f";
}

.editorreading:before {
  content: "\e64d";
}

.editorExitFullScreen:before {
  content: "\e64c";
}

.editorfullscreen:before {
  content: "\e64b";
}

.editormark:before {
  content: "\e64a";
}

.editortitle:before {
  content: "\e649";
}

.editormore1:before {
  content: "\e648";
}

.editortick:before {
  content: "\e639";
}

.editorOrderly:before {
  content: "\e63c";
}

.editorzhuanzhu:before {
  content: "\e63e";
}

.editorExport:before {
  content: "\e641";
}

.editorright:before {
  content: "\e642";
}

.editorImportfiles:before {
  content: "\e643";
}

.editorFormatPainter:before {
  content: "\e644";
}

.editorquote:before {
  content: "\e645";
}

.editorStrikethrough:before {
  content: "\e646";
}

.editorTypewriterstyle:before {
  content: "\e61f";
}

.editortable:before {
  content: "\e620";
}

.editorimport:before {
  content: "\e621";
}

.editormore:before {
  content: "\e622";
}

.editorhelp:before {
  content: "\e624";
}

.editoredit:before {
  content: "\e626";
}

.editorstencil:before {
  content: "\e627";
}

.editordelete:before {
  content: "\e62a";
}

.editorcancel:before {
  content: "\e62b";
}

.editorformula:before {
  content: "\e62c";
}

.editorcontents:before {
  content: "\e62d";
}

.editorUnderscore:before {
  content: "\e62e";
}

.editordisorder:before {
  content: "\e62f";
}

.editorDoublecolumn:before {
  content: "\e630";
}

.editorlink:before {
  content: "\e631";
}

.editorunfold:before {
  content: "\e632";
}

.editorblod:before {
  content: "\e636";
}

